body {
    padding-top: 90px;
    margin: 0px 50px 0px 50px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: rgba(128, 128, 128, 0.22) 背景色彩
}


/* body { */


/* 	margin: 0px 80px 0px 80px; */


/* 	background-attachment: fixed; */


/* 	background-repeat: repeat; */


/* 	background-color:#ECECFF; */


/* 		背景色彩 */


/* } */


/* Top100 背景圖 */

.top-coin-imges {
    width: 100%;
    height: 100%;
    background: #FBFBFF;
    box-shadow: 1px 4px 5px 2px #AAAAFF;
}


/* news背景 */

.news-image {
    width: 100%;
    height: 310px;
    background: linear-gradient(to bottom, #97CBFF, #CAFFFF, white);
    box-shadow: 1px 4px 5px 2px #AAAAFF;
    border-radius: 10px;
}

.container-fluid {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    height: 60px;
}

.newsimg {
    border-radius: 10px;
    width: 320px;
    height: 200px;
}

.news {
    width: 100%;
    background-color: rgb(0, 132, 206);
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    /*     box-shadow: -2px 1px 10px #000000; */
    /* 	box-shadow: 2px 3px 5px white; */
}

.banner {
    width: 100%;
    background-color: rgb(0, 132, 206);
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    /*     box-shadow: -2px 1px 10px #000000; */
    box-shadow: 2px 3px 5px white;
}

.currencyIcon {
    width: 32px;
    height: 32px;
}

td {
    width: 170px;
    height: 80px;
    font-weight: 650;
    text-align: center;
}

th {
    text-align: center;
}

#d1,
#d2,
#d3 {
    /* 	 width: 33%; */
    /* flex:1; */
    display: inline-block;
}

.star,
.bell {
    color: rgb(206, 202, 202);
}

.check,
.checkbell {
    display: none;
}

.check:checked+span {
    color: rgb(255, 0, 106);
}

.checkbell:checked+span {
    color: rgb(254, 191, 48);
}


/* footer */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

/* @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap"); */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    word-spacing: 0.3em;
    font-family: 'PT Serif', serif;
    /* 	font-family: 'Noto Sans TC', sans-serif; */
}

.main-footer {
    padding: 150px 0 0 0;
    background: linear-gradient(-20deg, #3f5494, #08c7a5);
}

.main-footer .container {
    display: flex;
    width: 1200px;
    margin: auto;
}

.footer-item {
    width: 0;
    flex-grow: 1;
    margin: 0 20px;
}

.footer-item h4 {
    font-size: 24px;
    color: #fff;
    border-bottom: 1px dotted #fff;
    margin-bottom: .5em;
    padding-bottom: .5em;
}

.footer-item nav {
    display: flex;
    flex-direction: column;
}

.footer-item nav a {
    color: #fff;
    line-height: 1.4;
    text-decoration: none;
    padding: 5px 0;
}

.footer-item nav a:hover {
    color: #fa0;
}

.footer-subs {
    display: flex;
    flex-direction: column;
}

.footer-subs form {
    display: flex;
    width: 100%;
    margin: auto 0px;
}

.footer-subs input[type="text"],
.footer-subs input[type="submit"] {
    border: none;
    padding: 5px 10px;
}

.footer-subs input[type="text"] {
    width: 0;
    flex-grow: 1;
    border-radius: 10px;
}

.footer-subs input[type="submit"] {
    color: #70f6df;
    background-color: #3e5293;
    border-radius: 10px 10px;
    background-color: #3e5293;
}

.conpyright {
    width: 100%;
    text-align: center;
    margin: 150px 0 0;
    padding: 10px 0px;
    background-color: #3e5293;
    color: #70f6df;
}

.marqee {
    height: 1.5em;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 35px;
}

.marqee>ul {
    padding-left: 0;
    display: flex;
    list-style-type: none;
    animation: marqee 50s linear infinite;
    position: absolute;
}

.marqee>ul>li {
    white-space: nowrap;
    margin-right: 3em;
    font-weight: bold;
    /*  color: yellow; */
}

@keyframes marqee {
    0% {
        left: 100%;
        transform: translateX(0%);
    }
    100% {
        left: 0;
        transform: translateX(-100%);
    }
}

.margg {
    width: 2000px;
    height: 60px;
    background-color: rgb(255, 255, 255)
}